img {
  display: block;
  max-width: 100%;
}

.App-header {
  /* Use a linear gradient for the background */
  background: linear-gradient(to right, #ade8f4, #ffffff); /* Fades from light blue to white */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
