@import url('https://fonts.googleapis.com/css2?family=Canva+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; /* Change to your chosen font */
  background: linear-gradient(to right, #ade8f4, white); /* Gradient from light blue to white */
  color: black; /* Set default text color to black */
} 

.secondary-color {
  color: #ade8f4; /* Define secondary color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
