@import url('https://fonts.googleapis.com/css2?family=Canva+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
  background: linear-gradient(to right, #ade8f4, white); 
  color: black; 
} 

.secondary-color {
  color: #ade8f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
